@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
	font-family: 'DM Sans', sans-serif;
  text-align: center;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}